#general{
    background-image: url("https://www.teahub.io/photos/full/191-1911493_fondos-de-pantalla-4k-neon.jpg");
    background-size: cover; /*Escala la imagen al mayor tamaño posible sin estirarla.*/
    background-repeat: no-repeat;
    background-position: cover;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    overflow: auto;
    margin: 0%;
  }
  #fondo{
    background-color: rgba(131, 200, 224, 0.677);
    width: 80%;
    height: 90%;
    margin-left: 10%;
    margin-top: 6%;
    border-radius: 4%;
  }
#nombre{
    font-family:fantasy;
    margin-left: 8%;
    margin-top: 5%;
    
    font-size: 40px;
    color: rgba(67, 10, 173, 0.751);
}
#image{
    border-radius: 20px;
    border: 3px solid  rgba(67, 10, 173, 0.751);
    margin-left: 59%;
    margin-top: -56%;
    margin-bottom: 25%;
    display: flexbox;
}
#h4{
    border-radius:30px;
    color: rgb(0, 0, 0);
    margin-left: 4%;
    margin-top: 13%;
    margin-bottom: 6%;
    
}
#botondetail{
    min-width: 130px;
    height: 40px;
    color: rgb(252, 252, 252);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border-radius: 20px;
    border: 2px solid rgba(122, 215, 255, 0.84);
    background: rgba(131, 200, 224, 0.677);
    margin-left: 45%;
    margin-top: 2%;
    
    }
#botondetail:hover {
    background: linear-gradient(
      60deg,
      #350076,
      #6d07a0,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82
    );
  }