@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
#HomeGral {
  background-image: url("https://w.wallha.com/ws/13/l1aEjmqf.jpg");
  background-size: cover; /*Escala la imagen al mayor tamaño posible sin estirarla.*/
  background-repeat: no-repeat;
  background-position:center;
  width: 100vw;
  height: auto;
  background-attachment: fixed;
  display: grid;
  
}
#titulo {
  margin-left: 50%;
  color: #fff;
  font-family: 'Silkscreen', cursive;
  font-size: 80px;
  margin-top: -4px;
  margin-bottom: 1%;
  --interval: 0.5s;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 3s infinite;
}

@keyframes flicker {
  50% {
    color: rgba(205, 78, 217, 0.708);
    filter: saturate(200%) hue-rotate(20deg);
  }
}
#cardHome{
width: 100%;
flex-wrap: wrap;
justify-content: center;
}

    #pagHome{
    border-radius: 5px;
    border-color: rgba(252, 249, 253, 0.744);
    background: hsla(289, 82%, 56%, 0.304);
    color: hsl(0, 0%, 98%);
    margin: 2px;
    font-size: 15px;
    margin-block-end: 10px;
    width: 50px;
      
      
  }
  #ulHome{
    margin: -10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 2%;
   
}