#search {
    margin-top: -5.5%;
    margin-left: 55px;
    flex-wrap: wrap;
      
  }

  #searchTerm {
    width: 30%;
    border: 2px solid rgba(122, 215, 255, 0.84);
    height: 30px;
    border-radius:15px;    
    background-color: #ca8afe;
  }


  #searchButton {
   border:none;
    background:  transparent;
    text-align: center;
    font-family: monospace;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px;
    margin-top: -0.5%;
  }